body {
	background: lightpink; ;
}

h1{
	color: hotpink;
}

p {
	color: black ; font-size: large; background: white; font-family: fantasy;
}

p {
	background: lightpink;
}

form {
	font-size: x-large; color:black;
}

