body {
	background-image: URL(AllerBackground.png) ;
}

h1{
	
}

p {
	color: black ; font-size: large; background: white; font-family: fantasy;
}



form {
	font-size: x-large; color:black; font-family: fantasy;
}

