body {
	background: lightpink; ;
}

h1{
	color: hotpink;
}

p {
	color: black ;font: bold; font-size: medium; background: white;
}

p {
	background: lightpink;
}

form {
	font-size: x-large; color:black;
}

